In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(4, 5), [1, 2, 3, 4],
                 ['red', 'orange', 'yellow', 'green', 'blue'])

In [3]:
df

        red    orange    yellow     green      blue
1 -1.939544  1.360894  1.277437  1.933686 -0.699491
2  1.201424 -0.233669 -0.768068 -0.168097 -0.731023
3  1.138072 -0.277206  1.821640 -0.109756  0.258063
4 -0.646091  0.846284  0.188196  0.123120  1.838854

In [4]:
df['red']

1   -1.939544
2    1.201424
3    1.138072
4   -0.646091
Name: red, dtype: float64

In [5]:
df['green']

1    1.933686
2   -0.168097
3   -0.109756
4    0.123120
Name: green, dtype: float64

In [6]:
type(df['green'])

pandas.core.series.Series

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df[ ['orange', 'blue'] ]

     orange      blue
1  1.360894 -0.699491
2 -0.233669 -0.731023
3 -0.277206  0.258063
4  0.846284  1.838854

In [9]:
df['indigo'] = df['blue']

In [10]:
df

        red    orange    yellow     green      blue    indigo
1 -1.939544  1.360894  1.277437  1.933686 -0.699491 -0.699491
2  1.201424 -0.233669 -0.768068 -0.168097 -0.731023 -0.731023
3  1.138072 -0.277206  1.821640 -0.109756  0.258063  0.258063
4 -0.646091  0.846284  0.188196  0.123120  1.838854  1.838854

In [11]:
df['violet'] = df['blue'] + df['green']

In [12]:
df

        red    orange    yellow     green      blue    indigo    violet
1 -1.939544  1.360894  1.277437  1.933686 -0.699491 -0.699491  1.234196
2  1.201424 -0.233669 -0.768068 -0.168097 -0.731023 -0.731023 -0.899121
3  1.138072 -0.277206  1.821640 -0.109756  0.258063  0.258063  0.148307
4 -0.646091  0.846284  0.188196  0.123120  1.838854  1.838854  1.961974

In [13]:
df.loc[2]

red       1.201424
orange   -0.233669
yellow   -0.768068
green    -0.168097
blue     -0.731023
indigo   -0.731023
violet   -0.899121
Name: 2, dtype: float64

In [14]:
df.iloc[1]

red       1.201424
orange   -0.233669
yellow   -0.768068
green    -0.168097
blue     -0.731023
indigo   -0.731023
violet   -0.899121
Name: 2, dtype: float64

In [15]:
df.iloc[2] = df.iloc[1]

In [16]:
df

        red    orange    yellow     green      blue    indigo    violet
1 -1.939544  1.360894  1.277437  1.933686 -0.699491 -0.699491  1.234196
2  1.201424 -0.233669 -0.768068 -0.168097 -0.731023 -0.731023 -0.899121
3  1.201424 -0.233669 -0.768068 -0.168097 -0.731023 -0.731023 -0.899121
4 -0.646091  0.846284  0.188196  0.123120  1.838854  1.838854  1.961974

In [17]:
df.loc[4, 'orange']

np.float64(0.8462841209794344)

In [18]:
df.loc[:, 'orange']

1    1.360894
2   -0.233669
3   -0.233669
4    0.846284
Name: orange, dtype: float64

In [19]:
df.loc[4, :]

red      -0.646091
orange    0.846284
yellow    0.188196
green     0.123120
blue      1.838854
indigo    1.838854
violet    1.961974
Name: 4, dtype: float64

In [20]:
df.loc[ [1, 3], ['yellow', 'violet'] ]

     yellow    violet
1  1.277437  1.234196
3 -0.768068 -0.899121

In [21]:
df.drop(3)

        red    orange    yellow     green      blue    indigo    violet
1 -1.939544  1.360894  1.277437  1.933686 -0.699491 -0.699491  1.234196
2  1.201424 -0.233669 -0.768068 -0.168097 -0.731023 -0.731023 -0.899121
4 -0.646091  0.846284  0.188196  0.123120  1.838854  1.838854  1.961974

In [22]:
df

        red    orange    yellow     green      blue    indigo    violet
1 -1.939544  1.360894  1.277437  1.933686 -0.699491 -0.699491  1.234196
2  1.201424 -0.233669 -0.768068 -0.168097 -0.731023 -0.731023 -0.899121
3  1.201424 -0.233669 -0.768068 -0.168097 -0.731023 -0.731023 -0.899121
4 -0.646091  0.846284  0.188196  0.123120  1.838854  1.838854  1.961974

In [23]:
df.drop(3, inplace=True)

In [24]:
df

        red    orange    yellow     green      blue    indigo    violet
1 -1.939544  1.360894  1.277437  1.933686 -0.699491 -0.699491  1.234196
2  1.201424 -0.233669 -0.768068 -0.168097 -0.731023 -0.731023 -0.899121
4 -0.646091  0.846284  0.188196  0.123120  1.838854  1.838854  1.961974

In [ ]:
df.drop('indigo', axis)