In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["Bob", 'Jane', 'John', 'Vadim', 'Jackie'], 
    "last": ["Schafer", 'Doss', 'Doe', 'Smart', 'Chan'], 
    "email": ["Bob@email.com", 'Jane@email.com', 'John@email.com', 'Vadim@email.com', 'Jackie@email.com']
}

In [3]:
people['email']

['Bob@email.com',
 'Jane@email.com',
 'John@email.com',
 'Vadim@email.com',
 'Jackie@email.com']

In [4]:
df = pd.DataFrame(people)

In [5]:
df

    first     last             email
0     Bob  Schafer     Bob@email.com
1    Jane     Doss    Jane@email.com
2    John      Doe    John@email.com
3   Vadim    Smart   Vadim@email.com
4  Jackie     Chan  Jackie@email.com

In [6]:
df.email

0       Bob@email.com
1      Jane@email.com
2      John@email.com
3     Vadim@email.com
4    Jackie@email.com
Name: email, dtype: object

In [7]:
df['email']

0       Bob@email.com
1      Jane@email.com
2      John@email.com
3     Vadim@email.com
4    Jackie@email.com
Name: email, dtype: object

In [8]:
type(df['email'])

pandas.core.series.Series

In [9]:
df[['last', 'email']]

      last             email
0  Schafer     Bob@email.com
1     Doss    Jane@email.com
2      Doe    John@email.com
3    Smart   Vadim@email.com
4     Chan  Jackie@email.com

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
df.iloc[0]

first              Bob
last           Schafer
email    Bob@email.com
Name: 0, dtype: object

In [15]:
df.iloc[[0, 1], 2]

0     Bob@email.com
1    Jane@email.com
Name: email, dtype: object

In [16]:
df

    first     last             email
0     Bob  Schafer     Bob@email.com
1    Jane     Doss    Jane@email.com
2    John      Doe    John@email.com
3   Vadim    Smart   Vadim@email.com
4  Jackie     Chan  Jackie@email.com

In [17]:
df.loc[3]

first              Vadim
last               Smart
email    Vadim@email.com
Name: 3, dtype: object

In [18]:
df.loc[[3, 4]]

    first   last             email
3   Vadim  Smart   Vadim@email.com
4  Jackie   Chan  Jackie@email.com

In [19]:
df.loc[[3, 4], 'email']

3     Vadim@email.com
4    Jackie@email.com
Name: email, dtype: object

In [20]:
df.loc[[3, 4], ['email', 'last']]

              email   last
3   Vadim@email.com  Smart
4  Jackie@email.com   Chan

In [ ]:
df.shape