In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["Bob", 'Jane', 'John', 'Vadim', 'Jackie', 'Bruce'], 
    "last": ["Schafer", 'Doss', 'Doe', 'Smart', 'Chan', 'Lee'], 
    "email": ["Bob@email.com", 'Jane@email.com', 'John@email.com', 'Vadim@email.com', 'Jackie@email.net', 'Bruce@email.net']
}

In [3]:
df = pd.DataFrame(people)
df

    first     last             email
0     Bob  Schafer     Bob@email.com
1    Jane     Doss    Jane@email.com
2    John      Doe    John@email.com
3   Vadim    Smart   Vadim@email.com
4  Jackie     Chan  Jackie@email.net
5   Bruce      Lee   Bruce@email.net

In [4]:
df['email']

0       Bob@email.com
1      Jane@email.com
2      John@email.com
3     Vadim@email.com
4    Jackie@email.net
5     Bruce@email.net
Name: email, dtype: object

In [5]:
df.set_index('email')

                   first     last
email
Bob@email.com        Bob  Schafer
Jane@email.com      Jane     Doss
John@email.com      John      Doe
Vadim@email.com    Vadim    Smart
Jackie@email.net  Jackie     Chan
Bruce@email.net    Bruce      Lee

In [6]:
df

    first     last             email
0     Bob  Schafer     Bob@email.com
1    Jane     Doss    Jane@email.com
2    John      Doe    John@email.com
3   Vadim    Smart   Vadim@email.com
4  Jackie     Chan  Jackie@email.net
5   Bruce      Lee   Bruce@email.net

In [7]:
df.set_index('email', inplace=True)

In [8]:
df

                   first     last
email
Bob@email.com        Bob  Schafer
Jane@email.com      Jane     Doss
John@email.com      John      Doe
Vadim@email.com    Vadim    Smart
Jackie@email.net  Jackie     Chan
Bruce@email.net    Bruce      Lee

In [9]:
df.index

Index(['Bob@email.com', 'Jane@email.com', 'John@email.com', 'Vadim@email.com',
       'Jackie@email.net', 'Bruce@email.net'],
      dtype='object', name='email')

In [10]:
df.loc['Vadim@email.com']

first    Vadim
last     Smart
Name: Vadim@email.com, dtype: object

In [11]:
df.loc['Vadim@email.com', 'first']

'Vadim'

In [13]:
df.iloc[5]

first    Bruce
last       Lee
Name: Bruce@email.net, dtype: object

In [14]:
df.reset_index(inplace=True)
df

              email   first     last
0     Bob@email.com     Bob  Schafer
1    Jane@email.com    Jane     Doss
2    John@email.com    John      Doe
3   Vadim@email.com   Vadim    Smart
4  Jackie@email.net  Jackie     Chan
5   Bruce@email.net   Bruce      Lee