In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["Bob", 'Jane', 'John', 'Vadim', 'Jackie', 'Bruce'], 
    "last": ["Schafer", 'Doe', 'Doe', 'Smart', 'Chan', 'Lee'], 
    "email": ["Bob@email.com", 'Jane@email.com', 'John@email.com', 'Vadim@email.com', 'Jackie@email.net', 'Bruce@email.net']
}

In [3]:
df = pd.DataFrame(people)
df

    first     last             email
0     Bob  Schafer     Bob@email.com
1    Jane      Doe    Jane@email.com
2    John      Doe    John@email.com
3   Vadim    Smart   Vadim@email.com
4  Jackie     Chan  Jackie@email.net
5   Bruce      Lee   Bruce@email.net

In [4]:
df['last'] == 'Doe'

0    False
1     True
2     True
3    False
4    False
5    False
Name: last, dtype: bool

In [5]:
filter1 = (df['last'] == 'Doe')

In [6]:
df[filter1]

  first last           email
1  Jane  Doe  Jane@email.com
2  John  Doe  John@email.com

In [7]:
df[df['last'] == 'Doe']

  first last           email
1  Jane  Doe  Jane@email.com
2  John  Doe  John@email.com

In [8]:
df.loc[filter1]

  first last           email
1  Jane  Doe  Jane@email.com
2  John  Doe  John@email.com

In [9]:
df.loc[filter1, 'email']

1    Jane@email.com
2    John@email.com
Name: email, dtype: object

In [10]:
filters = (df['last'] == 'Doe') & (df['first'] == 'John')

In [11]:
df[filters]

  first last           email
2  John  Doe  John@email.com

In [ ]:
filters = (df['last'] == 'Smart') | (df['first'] == 'John')